<!--The content below is only a placeholder and can be replaced.-->
<div class="main-div">
    <div style="text-align:center">
      <h1>
        Bienvenue sur {{ title }}!
      </h1>
    </div>
    <app-post-list [posts]="posts"></app-post-list>
    <br>
    <em>Ce blog est un exercice fait dans le cadre du cours OpenClassrooms "Développez des applications Web avec Angular" de Will Alexander.</em>
</div>
