<div [ngClass]="{'list-group-item': true,
                'list-group-item-success': loveIts > 0,
                'list-group-item-danger': loveIts < 0}">

    <div>
        <div class="date">{{ created_at | date:'MM/dd/yyyy, hh:mm a' }}</div>
        <div class="title">{{ title }}</div>
    </div>

    <p>{{ content }}</p>

    <p>
        <input type="button" class="btn btn-success" value="Love it!" (click)="onLike()">
        <input type="button" class="btn btn-danger" value="Don't love it!" (click)="onDislike()">
    </p>

</div>
