<h2>Derniers articles</h2>
<app-post-list-item *ngFor="let item of posts"
    [title]="item.title"
    [content]="item.content"
    [loveIts]="item.loveIts"
    [created_at]="item.created_at"
    ></app-post-list-item>
